<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.RecruitmentDao">
    <resultMap type="Recruitment" id="RecruitmentResultMap" >
        <id property="id" column="id"/>
        <result property="postName" column="post_name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="education" column="education"/>
        <result property="phone" column="phone"/>
        <result property="experience" column="experience"/>
        <result property="content" column="content"/>

    </resultMap>

    <select id="selectRecruitment" parameterType="com.domain.Recruitment" resultMap="RecruitmentResultMap">
        SELECT *
        FROM recruitment
    </select>

    <insert id="insertRecruitment" parameterType="com.domain.Recruitment" useGeneratedKeys="true" keyProperty="id">
        insert into recruitment(
        <if test="postName != null and postName != ''">post_name</if>
        <if test="sex != null and sex != ''">,sex</if>
        <if test="age != null and age != ''">,age</if>
        <if test="education != null and education != ''">,education</if>
        <if test="phone != null and phone != ''">,phone</if>
        <if test="experience != null and experience != ''">,experience</if>
        <if test="content != null and content != ''">,content</if>
        )values (
        <if test="postName != null and postName != ''">#{postName}</if>
        <if test="sex != null and sex != ''">,#{sex}</if>
        <if test="age != null and age != ''">,#{age}</if>
        <if test="education != null and education != ''">,#{education}</if>
        <if test="phone != null and phone != ''">,#{phone}</if>
        <if test="experience != null and experience != ''">,#{experience}</if>
        <if test="content != null and content != ''">,#{content}</if>
        )
    </insert>

    <update id="updateRecruitment" parameterType="com.domain.Recruitment">
        update recruitment
        <set>
            <if test="postName != null and postName != ''">post_name = #{postName}</if>
            <if test="sex != null and sex != ''">sex = #{sex}</if>
            <if test="age != null and age != ''">age = #{age}</if>
            <if test="education != null and education != ''">education = #{education}</if>
            <if test="phone != null and phone != ''">phone = #{phone}</if>
            <if test="experience != null and experience != ''">experience = #{experience}</if>
            <if test="content != null and content != ''">content = #{content}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteRecruitmentById" parameterType="int">
        delete
        from recruitment
        where id = #{id}
    </delete>

</mapper>